<div class='container'>
	<a class="btn btn-medium btn-primary" href="/file/">Im치genes</a>
	<br />
    <div class="hero-unit center">

        <form class="form-signin" >
        	<h1>Info:</h1>
        	<p><strong>Nombre:</strong> <%= file.name %> </p>
        	<p><strong>Descripci칩n:</strong> <%= file.description %> </p>
        	<p><strong>Formato:</strong> <%= file.file %> </p>
        	<p><strong>Tama침o:</strong> <%= file.fileSize %> </p>
        	<p><strong>Path completo:</strong> <%= file.fullPath %> </p>
            <p><strong>Versi칩n:</strong> <%= file.version %> </p>
        </form>

    </div>
	<hr>
</div>